/* ==========================================================================
   GLOBAL STRUCTURE
   ========================================================================== */

/* Body
   ========================================================================== */
	body {
		color: $primary-font-color;
	//	background-color: $body-background-color;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale; 		
	}


/* Main Content Holder & Rows
   ========================================================================== */ 
	#main_content{
		padding: 0;
		position: relative;
		z-index: 2;

		> .content_row{
			@include clearfix();
			margin-bottom: 0;		
			max-width: $content-row-max-width+px;
			z-index: 1;
			border-width: 0;
			border-style: solid;
			overflow: hidden;

			.content_row, .row{
				margin-left: -15px;
				margin-right: -15px;
			}

			&.fullwidth {
				max-width: 100%;
				width: 100%;
			}

			&:first-child{
				margin-top: 0;
			}	
			
			//alt style 1 
			&.alt-style-1{
				@include box-shadow( 0 -3px 2px -3px rgba(0, 0, 0, 0.07) inset, 0 3px 2px -3px rgba(0, 0, 0, 0.07) inset );
			}

			//alt style 1 
			&.alt-style-1:first-child{
				@include box-shadow( none );
			}		
		}
 
		.border-top{
			border-top-width: 1px;
			border-top-style: solid;
		}

		.border-bottom{
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}

		> .content_row:last-child {
		//	@include box-shadow( 0 40px 20px -20px rgba(0, 0, 0, 0.55) ); 
		}	
	}

	/* overlapped row */
	#main_content > .content_row.overlap {
		margin-top: -40px;
		z-index: 999999;
		position: relative;	 
		width: 100%;
	}

	.layout1 #main_content > .content_row.overlap {
		display: inline-block;
		margin-bottom: -6px;
	}

	#main_content > .content_row.overlap:first-child {
		margin-top: 0;
	}

	/* overwrite bootsrap rows */
	.row{
		margin: 0;
	}

	/* Content Row Wrapper */
	.content_row_wrapper{
		@include clearfix();
		max-width: $content-row-max-width+px;
		display: block;
		width: 100%;
		padding: 25px 10px;

		&.fullwidth {
			max-width: 100%;
			width: 100%;
		}

		&.nopadding {
			> .vc_col-sm-12, > .col-sm-12{
				padding: 0;
			}
		}
	}	

	/* nested columns fix for fixed heights */
	.fixed_heights .wpb_column:not(.vc_col-sm-12) .wpb_column{
		height: auto !important;
		min-height: auto !important;
	}

	//sidebars
	.sidebar{
		border-style: solid;
	}
	
	.sidebar.right{
		border-width: 0 0 0 1px;
	}

	.sidebar.left{
		border-width: 0 1px 0 0;
	}

/* VC Related Fixes
   ========================================================================== */ 

	/* VC Replicas */
	.rt_content_element{
	 	margin-bottom: 15px;
	}

	.col > *:last-child {
		margin-bottom: 0;
	}

	/* VC Overwrites */
	.layout1 #main_content .wpb_row{
		margin-left:0;
		margin-right:0;
	}

	#main_content > .wpb_row > .wpb_column{
		padding-left: 20px;
		padding-right: 20px;
	}

	.content_row_wrapper .wpb_content_element{
		margin-bottom: 15px;
	}	

	.wpb_single_image .vc_single_image-wrapper{
		max-width: 100%;
	}